@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Delius+Unicase:wght@700&family=Inter:wght@400;500;700;800&family=Outfit:wght@400;700&family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: hsl(220, 15%, 55%);
}

.main {
    background-color: hsl(0, 0%, 100%);
    border: 2px solid black;
    padding: 15px;
    width: 300px;
    height: 500px;
    border-radius: 20px;
    border: none;
}

img {
    width: 100%;
    border-radius: 10px;
}

.content {
    width: 100%;
    padding: 1vw;
    text-align: center;
}

h3 {
    color: rgb(60, 60, 60);
}

p {
    margin-top: 1vw;
    font-size: 13px;
    font-weight: 400;
    color: lightslategray;
}